extends ./partials/_frame
block main
  #thispage(page="top")
  #overlay-area
    .bg
    img
  #camera カメラ
  #publish publish!
  #map-canvas
  .box
    video(id="videoel" width="800" height="600" preload="auto" loop data-pixelate)
    canvas(id="overlay" width="800" height="600")
  canvas#canvas
  canvas#image_jpeg
  canvas#copy_img
  article#archive
    h3 Anonymous Archive
    ul
  

 
